<div class="container">
  <div class="page-header">
    <h1>Amp Data for User <%= current_user.email %></h1>
    <h4><span class="label label-primary">Amps of User</span></h4>
  </div>
</div>
<div class="container">
  <% if user_signed_in? %>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Connector Id</th>
        <th>Host Name</th>
      </tr>
      </thead>
      <tbody>
      <% current_user.amps.limit(10).each do |amp| %>
        <tr>
          <td><%= amp.event_data["connector_guid"] %></td>
          <td><%= amp.event_data["hostname"] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <li>
      <%= link_to('Login', new_user_session_path) %>
    </li>
  <% end %>
  <%= link_to('Sign out', edit_user_password_path) %>
</div>

